.item {
  color: aqua;
}

.item .image {
  width: 60px; /* Set width to 60 pixels */
  height: auto; /* Let height adjust to maintain aspect ratio */
  max-height: 120px; /* Limit height to 120 pixels */
  border-radius: 15px;
}
